

  /* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar a:hover {
    color: #ffd700;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar a {
      margin-right: 0;
      margin-bottom: 10px;
    }
  } */

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    padding: 10px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar a {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  
  
  
  